@font-face {
    font-family: Dana-Font-black;
    src: url(../../font/webfonts/fonts/eot/dana-black.eot);
    src: url(../../font/webfonts/fonts/woff/dana-black.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-black.woff2);
}
@font-face {
    font-family: Dana-Font-blackitalic;
    src: url(../../font/webfonts/fonts/eot/dana-blackitalic.eot);
    src: url(../../font/webfonts/fonts/woff/dana-blackitalic.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-blackitalic.woff2);
}
@font-face {
    font-family: Dana-Font-bold;
    src: url(../../font/webfonts/fonts/eot/dana-bold.eot);
    src: url(../../font/webfonts/fonts/woff/dana-bold.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-bold.woff2);
}
@font-face {
    font-family: Dana-Font-bolditalic;
    src: url(../../font/webfonts/fonts/eot/dana-bolditalic.eot);
    src: url(../../font/webfonts/fonts/woff/dana-bolditalic.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-bolditalic.woff2);
}
@font-face {
    font-family: Dana-Font-demibold;
    src: url(../../font/webfonts/fonts/eot/dana-demibold.eot);
    src: url(../../font/webfonts/fonts/woff/dana-demibold.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-demibold.woff2);
}
@font-face {
    font-family: Dana-Font-demibolditalic;
    src: url(../../font/webfonts/fonts/eot/dana-demibolditalic.eot);
    src: url(../../font/webfonts/fonts/woff/dana-demibolditalic.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-demibolditalic.woff2);
}
@font-face {
    font-family: Dana-Font-extrabold;
    src: url(../../font/webfonts/fonts/eot/dana-extrabold.eot);
    src: url(../../font/webfonts/fonts/woff/dana-extrabold.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-extrabold.woff2);
}
@font-face {
    font-family: Dana-Font-extrabolditalic;
    src: url(../../font/webfonts/fonts/eot/dana-extrabolditalic.eot);
    src: url(../../font/webfonts/fonts/woff/dana-extrabolditalic.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-extrabolditalic.woff2);
}
@font-face {
    font-family: Dana-Font-extralight;
    src: url(../../font/webfonts/fonts/eot/dana-extralight.eot);
    src: url(../../font/webfonts/fonts/woff/dana-extralight.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-extralight.woff2);
}
@font-face {
    font-family: Dana-Font-extralightitalic;
    src: url(../../font/webfonts/fonts/eot/dana-extralightitalic.eot);
    src: url(../../font/webfonts/fonts/woff/dana-extralightitalic.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-extralightitalic.woff2);
}
@font-face {
    font-family: Dana-Font-light;
    src: url(../../font/webfonts/fonts/eot/dana-light.eot);
    src: url(../../font/webfonts/fonts/woff/dana-light.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-light.woff2);
}
@font-face {
    font-family: Dana-Font-lightitalic;
    src: url(../../font/webfonts/fonts/eot/dana-lightitalic.eot);
    src: url(../../font/webfonts/fonts/woff/dana-lightitalic.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-lightitalic.woff2);
}
@font-face {
    font-family: Dana-Font-medium;
    src: url(../../font/webfonts/fonts/eot/dana-medium.eot);
    src: url(../../font/webfonts/fonts/woff/dana-medium.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-medium.woff2);
}
@font-face {
    font-family: Dana-Font-mediumitalic;
    src: url(../../font/webfonts/fonts/eot/dana-mediumitalic.eot);
    src: url(../../font/webfonts/fonts/woff/dana-mediumitalic.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-mediumitalic.woff2);
}
@font-face {
    font-family: Dana-Font-regular;
    src: url(../../font/webfonts/fonts/eot/dana-regular.eot);
    src: url(../../font/webfonts/fonts/woff/dana-regular.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-regular.woff2);
}
@font-face {
    font-family: Dana-Font-regularitalic;
    src: url(../../font/webfonts/fonts/eot/dana-regularitalic.eot);
    src: url(../../font/webfonts/fonts/woff/dana-regularitalic.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-regularitalic.woff2);
}
@font-face {
    font-family: Dana-Font-thin;
    src: url(../../font/webfonts/fonts/eot/dana-thin.eot);
    src: url(../../font/webfonts/fonts/woff/dana-thin.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-thin.woff2);
}
@font-face {
    font-family: Dana-Font-thinitalic;
    src: url(../../font/webfonts/fonts/eot/dana-thinitalic.eot);
    src: url(../../font/webfonts/fonts/woff/dana-thinitalic.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-thinitalic.woff2);
}
@font-face {
    font-family: Dana-Font-ultrabold;
    src: url(../../font/webfonts/fonts/eot/dana-ultrabold.eot);
    src: url(../../font/webfonts/fonts/woff/dana-ultrabold.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-ultrabold.woff2);
}
@font-face {
    font-family: Dana-Font-ultrabolditalic;
    src: url(../../font/webfonts/fonts/eot/dana-ultrabolditalic.eot);
    src: url(../../font/webfonts/fonts/woff/dana-ultrabolditalic.woff);
    src: url(../../font/webfonts/fonts/woff2/dana-ultrabolditalic.woff2);
}


// **** FontNumber //

@font-face {
    font-family: Dana-Font-Black;
    src: url(../../font/farsi-numral/Dana-FaNum-Black.ttf);
}
@font-face {
    font-family: Dana-Font-Bold;
    src: url(../../font/farsi-numral/Dana-FaNum-Bold.ttf);
}
@font-face {
    font-family: Dana-Font-DemiBold;
    src: url(../../font/farsi-numral/Dana-FaNum-DemiBold.ttf);
}
@font-face {
    font-family: Dana-Font-ExtraBold;
    src: url(../../font/farsi-numral/Dana-FaNum-ExtraBold.ttf);
}
@font-face {
    font-family: Dana-Font-ExtraLight;
    src: url(../../font/farsi-numral/Dana-FaNum-ExtraLight.ttf);
}
@font-face {
    font-family: Dana-Font-Light;
    src: url(../../font/farsi-numral/Dana-FaNum-Light.ttf);
}
@font-face {
    font-family: Dana-FaNum-Medium;
    src: url(../../font/farsi-numral/Dana-FaNum-Medium.ttf);
}
@font-face {
    font-family: Dana-Font-Regular;
    src: url(../../font/farsi-numral/Dana-FaNum-Regular.ttf);
}
@font-face {
    font-family: Dana-Font-Thin;
    src: url(../../font/farsi-numral/Dana-FaNum-Thin.ttf);
}
@font-face {
    font-family: Dana-Font-UltraBold;
    src: url(../../font/farsi-numral/Dana-FaNum-UltraBold.ttf);
}