//@import "bootstrap.css";
@import "icon";
@import "variable";
@import "font";

input{
  border: 1px solid $outline-border-platinum-1 !important;
  &:focus {
    outline: none !important;
    border: 1px solid $outline-border-platinum-1 !important;
  }
}
 option, option ,select {
  outline: none !important;
 border: none !important;
  &:focus {
    outline: none !important;
  }
}

a {
  color: inherit !important;

  &:hover {
    color: inherit !important;
  }
}

.page-link {
  color: $orange-primary-default;
}

.page-link:hover {
  color: $orange-primary-default;
}

.page-item.active .page-link {
  background-color: $orange-primary-default;
  border-color: $orange-primary-default;
}

@media  (max-width: 600px){
  .font-16-rem{
    font-size: 0.7rem !important;
  }
  .font-14-rem{
    font-size: 0.5rem !important;
  }
  .hide-sidebar{
    right: -100% !important;
  }
  .show-sidebar{
    right: 0;
  }
  .sidebar{
    position:fixed;
    transition: 0.6s;
    right: 0;
    z-index: 12;
  }
}
@media (min-width: 760px) {

  .hide-sidebar{
    width: 0 !important;
    opacity: 0 ;
    overflow: hidden;
  }
  .show-sidebar{
    width: 300px !important;
    overflow: hidden;
  }
  .sidebar{
    right: 0;
    //height: 100% !important;
    transition: 0.6s;
    z-index: 12;
    overflow-y: scroll;
  }
  .mains , #stage{
    &::-webkit-scrollbar-thumb{
      width: 0 !important;
      opacity: 0 !important;
    }
    &::-webkit-scrollbar{
      display: none !important;
      opacity: 0 !important;
    }
  }
}



.hover-default {
  transition: 0.6s;

  &:hover {
    background-color: rgba(255, 105, 0, 0.35);
  }

}

.pdp .pdp-picker .pdp-header .bottom > div .pdp-month, .pdp .pdp-picker .pdp-header .bottom > div .pdp-year {

  color: $orange-primary-default !important;
  font-size: 1rem;

}
.pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day.friday {
  color: $orange-primary-default !important;
  font-size: 1rem;
}

.pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day:not(.disabled):hover, .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day.today {
  border: 2px solid $orange-primary-default !important;
}

.pdp .pdp-picker .pdp-footer .pdp-today, .pdp .pdp-picker .pdp-footer .pdp-submit {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  margin: 0 0.3rem;
  line-height: 1.5;
  color: white !important;
  text-decoration: none;
  border: none;

  background: $orange-primary-default !important;
  cursor: pointer;
}

.pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day:not(.disabled):hover, .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day.today {
  border: 2px solid $orange-primary-default !important;
}

.pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day:not(.disabled):hover, .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day.today {
  border: 2px solid $orange-primary-default !important;
}

.pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day.in-range {
  background: rgba(255, 105, 0, 0.49);
  color: #000;
  border-radius: 0 !important;
}

.pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day.start-range, .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-days .pdp-day.end-range {
  background: $orange-primary-default !important;
  color: #fff;
}

//login
.main-login {
  width: 100% !important;
  height: 100vh !important;
  background: #97f990;

  .login {
    .hover-btn {
      transition: 0.6s;

      &:hover {
        color: $text-subtitle-gunmetal-h-2 !important;
      }
    }

    .text-shadow {
      text-shadow: 0 10px 20px grey;
    }

    border-radius: 20px !important;

    input, button {
      border-radius: 30px !important;
    }

    button {
      background: $orange-primary-default;

      &:hover {
        background: $orange-primary-hover;

        box-shadow: 0 0 20px 2px $orange-primary-default;
      }
    }

    figure {
      position: absolute;

      img {
        bottom: 50%;
      }
    }
  }
}

//todo
.todo-list {
  height: 500px !important;
  .todoBtn{
    left: 20px ;
    bottom: 20px;
    z-index: 8;
    background: white !important;
  }
}
.anime{
  left: -100%;
  bottom: -100%;
  transition: 1s;
  z-index: 11;
}
.todoListAnime {
  left: -100%;
  bottom: -100%;
  transition: 1s;
  animation: todo 0.6s forwards ease-in-out;
  @at-root {
    @keyframes todo {
      to {
        left: 10px;
        bottom: 10px;
      }
    }
  }
}
.icon-Add{
  &:before{
    color: #33b5e5 !important;
  }
}
select:focus{
  border: none;
  outline: none;
}
#get-logo,#Img-national-card,#tax{
  cursor: pointer;
  overflow: visible !important;
  &:focus{
    border: none !important;
    outline: none !important;
  }
 &:after{
    content: "\ec8b";
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 17px;
   background: #00C851;
   position: absolute;
   right: 0;
   top: 0;
   width: 100%;
   height: 100%;
   transition: 0.6s;
   //padding: 8px !important;
 }
}
#Sheba-Num{
  border: none !important;
  outline: none !important;
  &:focus{
    border: none !important;
    outline: none !important;
  }
}
#react-select-3-input{
  border: none !important;
  outline: none !important;
  &:after{
    display: none !important;
  }
}
.css-1s2u09g-control{
  border-radius: 8px !important;
  padding:0 !important;
  input{
    border: none !important;
    outline: none !important;
  }
}
#root::-webkit-scrollbar-thumb{
  width: 2px !important;
}
#root::-webkit-scrollbar{

  display: none !important;
}
.pallet-sec{
  transition: 0.6s!important;
  top: 44px !important;
  left: 70px;
  background: white;
  z-index: 130000 !important;
  button{
    z-index: 11;
  }
}
.pallet-sec-hide{
  transition: 0.6s!important;
  top: 44px !important;
  left: -100% ;
}
.btn-success .icon-Add1:before{
  color: white !important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.rmdp-input {
  border: 1px solid #c0c4d6;
  border-radius: 5px;
  height: 40px !important;
  width: 200px !important;
  margin: 1px 0;
  padding: 2px 5px;
}
.tox-notification .tox-notification--in .tox-notification--warning{
  display: none !important;
}
.tox-notification--warning{
  display: none !important;

  opacity: 0 !important;
}
//loading

.loading{
  height: 100vh !important;
  z-index: 99999999999999 !important;
  * {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    --hue: 223;
    --bg: hsl(var(--hue),10%,90%);
    --fg: hsl(var(--hue),10%,10%);
    --trans-dur: 0.3s;
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
  }
  body {
    background: var(--bg);
    color: var(--fg);
    font: 1em/1.5 sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    transition:
            background-color var(--trans-dur),
            color var(--trans-dur);
  }

  .pl {
    display: block;
    width: 8em;
    height: 8em;
  }
  .pl__ring,
  .pl__ball1,
  .pl__ball2 {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: 32px 32px;
  }
  .pl__ring {
    animation-name: ring;
  }
  .pl__ball1 {
    animation-name: ball1;
  }
  .pl__ball2 {
    animation-name: ball2;
  }

  /* Dark theme  */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: hsl(var(--hue),10%,10%);
      --fg: hsl(var(--hue),10%,90%);
    }
  }

  /* Animation */
  @keyframes ring {
    from {
      animation-timing-function: ease-in-out;
      stroke-dashoffset: -122.52;
      transform: rotate(135deg);
    }
    15% {
      animation-timing-function: ease-in;
      stroke-dashoffset: -122.52;
      transform: rotate(90deg);
    }
    35% {
      animation-timing-function: ease-out;
      stroke-dashoffset: -65.34;
      transform: rotate(297.5deg);
    }
    55% {
      animation-timing-function: ease-in-out;
      stroke-dashoffset: -122.52;
      transform: rotate(505deg);
    }
    70% {
      animation-timing-function: ease-in-out;
      stroke-dashoffset: -122.52;
      transform: rotate(490deg);
    }
    85%,
    to {
      stroke-dashoffset: -122.52;
      transform: rotate(497.5deg);
    }
  }
  @keyframes ball1 {
    from {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-7deg);
    }
    60% {
      transform: rotate(399deg);
    }
    75% {
      transform: rotate(361deg);
    }
    90%,
    to {
      transform: rotate(374deg);
    }
  }
  @keyframes ball2 {
    from {
      transform: rotate(-21deg);
    }
    25% {
      transform: rotate(-47deg);
    }
    60% {
      transform: rotate(364deg);
    }
    75% {
      transform: rotate(326deg);
    }
    90%,
    to {
      transform: rotate(339deg);
    }
  }
}
.rmdp-container{
  width: 100% !important;
  input{
    width: 100% !important;
  }
}
.css-ahj2mt-MuiTypography-root{
  font-family: Dana-Font-Regular, serif !important;
}
.css-19kzrtu{
  padding: 0 !important;
}

.overflow-scroll {

  overflow-x: hidden !important;
  &::-webkit-scrollbar {
    width: 5px !important;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    width: 5px !important;
    height: 5px;
    background: grey;
  }
}
.vh-50{
  height: 60vh !important;
}
.vh-80{
  height: 88vh !important;
}
.radius-manual-left{
  -webkit-border-radius: 20px 0 20px 20px;
  -moz-border-radius: 20px 0 20px 20px;
  border-radius: 20px 0 20px 20px;
}
.radius-manual-right{
  -webkit-border-radius: 0 20px 20px 20px;
  -moz-border-radius: 0 20px 20px 20px;
  border-radius: 0 20px 20px 20px;
}